@page "/views"
@using Blazor.Monaco
@using System.Text.Json
@using System.Linq.Dynamic.Core
@using CSScriptLib
@using System.Reflection

<PageTitle>Views</PageTitle>

<h4>Views</h4>
<br />
@if (IsLoading)
{
    <div role="progressbar" class="marquee" style="width: 25%"></div>
}
else
{
    <div>
        @if (ViewList.Count > 0)
        {
            <label>Select View: </label>
            <select @onchange="@(async (args) =>
                    {
                        CurrentViewName = args.Value?.ToString();
                        await LoadView(CurrentViewName);
                    })">
                @foreach (var view in ViewList)
                {
                    <option value="@view"
                            selected="@(view == CurrentViewName ? "selected" : null)">
                        @view
                    </option>
                }
            </select>
        }
    </div>
    <br />
    <div>
        <button @onclick="OnEditorSaveRequested">Save</button>
        &nbsp;
        <button @onclick="Execute">Execute</button>
        @if (ContentChanged)
        {
            <span style="color:red">&nbsp;&nbsp;<b>Editing...</b></span>
        }
        <br />
        <br />
        <MonacoEditor ElementId="script-one"
                      @ref="_monacoEditorInstance"
                      Language="Language.CSharp"
                      OnContentChanged="OnEditorContentChanged"
                      OnSaveRequested="OnEditorSaveRequested"
                      ScriptContent="@CurrentScript"
                      EditorOptions="MonacoOptions"
                      Style="width: 90%; height:400px;" />
    </div>
    <br />
}

<!-- POPUPS -->
@if (IsNewOutputPopupVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog" style="max-width: 90%; margin-top: 5%;">
            <div class="modal-content">
                <div class="window glass active">
                    <div class="title-bar">
                        <div class="title-bar-text">Output</div>
                        <div class="title-bar-controls">
                            <button aria-label="Close" @onclick="CloseOutputTablePopup"></button>
                        </div>
                    </div>
                    <div class="window-body has-space">

                        <RadzenDataGrid Data="@objDataParameters.data"
                                        ColumnWidth="200px"
                                        AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                                        FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true">
                            <Columns>
                                @foreach (var column in objDataParameters.columns)
                                {
                                    <RadzenDataGridColumn @key=@column.Key
                                                          Title="@column.Key"
                                                          Type="column.Value"
                                                          Property="@PropertyAccess.GetDynamicPropertyExpression(column.Key, column.Value)">
                                        <Template>
                                            @context[@column.Key]
                                        </Template>
                                    </RadzenDataGridColumn>
                                }
                            </Columns>
                        </RadzenDataGrid>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@if (Message != "")
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="window glass active">
                    <div class="title-bar">
                        <div class="title-bar-text">Alert!</div>
                        <div class="title-bar-controls">
                            <button aria-label="Close" @onclick="CloseMessagePopup"></button>
                        </div>
                    </div>
                    <div class="window-body has-space">
                        <div class="has-scrollbar" style="width: 300px; height: 100px; overflow: auto">
                            @Message
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    private bool ContentChanged { get; set; }
    private string CurrentScript { get; set; } = string.Empty;
    private MonacoEditor _monacoEditorInstance = null!;
    private EditorOptions MonacoOptions = new EditorOptions();

    private DataParameters objDataParameters = new DataParameters();

    private bool IsLoading { get; set; } = false;
    private List<string> ViewList = new List<string>();
    private string CurrentViewName = "";

    private bool IsNewOutputPopupVisible { get; set; } = false;

    string Message = "";

    protected override async Task OnInitializedAsync()
    {
        objDataParameters = new DataParameters();
        objDataParameters.data = new List<IDictionary<string, object>>();
        objDataParameters.columns = new Dictionary<string, Type>();

        MonacoOptions.ReadOnly = false;
        MonacoOptions.WordWrap = WordWrap.On;
        MonacoOptions.Theme = Blazor.Monaco.Theme.Vs;
        MonacoOptions.LineNumbers = LineNumbers.On;

        await LoadViewsListDropdown();
    }

    // Monaco Editor

    private void OnEditorContentChanged(bool hasChanged)
    {
        ContentChanged = hasChanged;
    }

    private async Task OnEditorSaveRequested()
    {
        CurrentScript = await _monacoEditorInstance.GetEditorContent(resetChangedOnRead: true);
        ContentChanged = false;
        StateHasChanged();
    }

    // Views Dropdown

    private async Task LoadViewsListDropdown()
    {
        ViewList = new List<string>();

        // Load the ViewList data
        var viewsFolder = Path.Combine("Data", "Views");

        if (Directory.Exists(viewsFolder))
        {
            ViewList = Directory.GetFiles(viewsFolder, "*.view")
                                 .Select(Path.GetFileNameWithoutExtension)
                                 .ToList();
        }

        if (ViewList.Count > 0)
        {
            CurrentViewName = ViewList.First();
            await LoadView(CurrentViewName);
        }
    }

    private async Task LoadView(string paramView)
    {
        IsLoading = true;
        StateHasChanged();

        // Load the DataTable
        var viewsFolder = Path.Combine("Data", "Views");
        var fileName = Path.Combine(viewsFolder, $"{paramView}.view");

        if (System.IO.File.Exists(fileName))
        {
            // Read contents into CurrentScript
            CurrentScript = await System.IO.File.ReadAllTextAsync(fileName);

            // Set CurrentViewName
            CurrentViewName = paramView;
        }
        else
        {
            Message = "View not found.";
        }

        IsLoading = false;
        StateHasChanged();
    }

    // Popups

    private void CloseOutputTablePopup()
    {
        IsNewOutputPopupVisible = false;
    }

    private void CloseMessagePopup()
    {
        Message = "";
    }

    // Code Execution

    #region RunCode
    private async Task Execute()
    {
        try
        {
            //  Save the content before executing
            await OnEditorSaveRequested();

            // Save to file in Data/Views
            var viewsFolder = Path.Combine("Data", "Views");
            var fileName = Path.Combine(viewsFolder, $"{CurrentViewName}.view");

            await System.IO.File.WriteAllTextAsync(fileName, CurrentScript);

            // Execute the code
            var objResult = await RunDynamicCode(CurrentScript);

            if (objResult != null)
            {
                // Parse objDataParametersResult.data to a list of dictionaries
                var columns = objResult.Select(x => x.ToDictionary(y => y.Key, y => y.Value)).FirstOrDefault();

                objDataParameters = new DataParameters
                    {
                        data = objResult,
                        columns = columns.ToDictionary(x => x.Key, x => Type.GetType("System.String"))
                    };
            }

            // Show the output
            IsNewOutputPopupVisible = true;
        }
        catch (Exception ex)
        {
            Message = ex.GetBaseException().Message;
        }
    }

    public async Task<IEnumerable<IDictionary<string, object>>> RunDynamicCode(string paramCode)
    {
        try
        {
            dynamic script = CSScript.Evaluator.LoadMethod(paramCode);

            var result = await script.ReturnResult();

            return result as IEnumerable<IDictionary<string, object>>;
        }
        catch (Exception ex)
        {
            Message = ex.GetBaseException().Message;
            return null;
        }
    }
    #endregion
}