@page "/views"
@using Blazor.Monaco
@using System.Text.Json
@using System.Linq.Dynamic.Core
@using CSScriptLib
@using System.Reflection

<PageTitle>Views</PageTitle>

<h4>Views</h4>
<br />
@if (IsLoading)
{
    <div role="progressbar" class="marquee" style="width: 25%"></div>
}
else
{
    <div>
        @if (ViewList.Count > 0)
        {
            <label>Select View: </label>
            <select @onchange="@(async (args) =>
                    {
                        CurrentViewName = args.Value?.ToString();
                        await LoadView(CurrentViewName);
                    })">
                @foreach (var view in ViewList)
                {
                    <option value="@view"
                    selected="@(view == CurrentViewName ? "selected" : null)">
                        @view
                    </option>
                }
            </select>
        }
    </div>
    <br />
    <div>
        @if (TableList.Count > 0)
        {
            <button @onclick="OpenWizard">Table Wizard</button>
            <span>&nbsp;</span>
        }
        <button @onclick="NewScript">New</button>
        &nbsp;
        <button @onclick="OnEditorSaveRequested">Save</button>
        &nbsp;
        <button @onclick="Execute">Execute</button>
        @if (ContentChanged)
        {
            <span style="color:red">&nbsp;&nbsp;<b>Editing...</b></span>
        }
        <br />
        <br />
        <MonacoEditor ElementId="script-one"
        @ref="_monacoEditorInstance"
        Language="Language.CSharp"
        OnContentChanged="OnEditorContentChanged"
        OnSaveRequested="OnEditorSaveRequested"
        ScriptContent="@CurrentScript"
        EditorOptions="MonacoOptions"
        Style="width: 90%; height:400px;" />
    </div>
    <br />
}

<!-- POPUPS -->
@if (IsNewOutputPopupVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog" style="max-width: 90%; margin-top: 5%;">
            <div class="modal-content">
                <div class="window glass active">
                    <div class="title-bar">
                        <div class="title-bar-text">Output</div>
                        <div class="title-bar-controls">
                            <button aria-label="Close" @onclick="CloseOutputTablePopup"></button>
                        </div>
                    </div>
                    <div class="window-body has-space">

                        <RadzenDataGrid Data="@objDataParameters.data"
                        ColumnWidth="200px"
                        AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                        FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true">
                            <Columns>
                                @foreach (var column in objDataParameters.columns)
                                {
                                    <RadzenDataGridColumn @key=@column.Key
                                    Title="@column.Key"
                                    Type="column.Value"
                                    Property="@PropertyAccess.GetDynamicPropertyExpression(column.Key, column.Value)">
                                        <Template>
                                            @context[@column.Key]
                                        </Template>
                                    </RadzenDataGridColumn>
                                }
                            </Columns>
                        </RadzenDataGrid>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@if (IsWizardVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="window glass active">
                    <div class="title-bar">
                        <div class="title-bar-text">Table Wizard</div>
                        <div class="title-bar-controls">
                            <button aria-label="Close" @onclick="CloseTableWizardPopup"></button>
                        </div>
                    </div>
                    <div class="window-body has-space">
                        <label>Select Table: </label>
                        <select @onchange="@(async (args) =>
                            {
                                CurrentSelectedTableWizard = args.Value?.ToString();
                            })">
                            @foreach (var table in TableList)
                            {
                                <option value="@table">
                                    @table
                                </option>
                            }
                        </select>
                        &nbsp;&nbsp;
                        <button @onclick="onTableWizard">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@if (IsNewTablePopupVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="window glass active">
                    <div class="title-bar">
                        <div class="title-bar-text">New Table</div>
                        <div class="title-bar-controls">
                            <button aria-label="Close" @onclick="CloseNewTablePopup"></button>
                        </div>
                    </div>
                    <div class="window-body has-space">
                        <form @onsubmit="SaveViewAsync">
                            <div>
                                <label for="tableName">View Name:</label>
                                <input type="text" id="tableName" maxlength="50" style="width: 300px;" @bind="CurrentViewName" />
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@if (Message != "")
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="window glass active">
                    <div class="title-bar">
                        <div class="title-bar-text">Alert!</div>
                        <div class="title-bar-controls">
                            <button aria-label="Close" @onclick="CloseMessagePopup"></button>
                        </div>
                    </div>
                    <div class="window-body has-space">
                        <div class="has-scrollbar" style="width: 300px; height: 100px; overflow: auto">
                            @Message
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    private bool ContentChanged { get; set; }
    private string CurrentScript { get; set; } = string.Empty;
    private MonacoEditor _monacoEditorInstance = null!;
    private EditorOptions MonacoOptions = new EditorOptions();

    private DataParameters objDataParameters = new DataParameters();

    private bool IsLoading { get; set; } = false;
    private List<string> TableList = new List<string>();
    private List<string> ViewList = new List<string>();
    private string CurrentViewName = "";

    private bool IsWizardVisible { get; set; } = false;
    private bool IsNewTablePopupVisible { get; set; } = false;
    private bool IsNewOutputPopupVisible { get; set; } = false;
    private string CurrentSelectedTableWizard = "";

    string Message = "";

    protected override async Task OnInitializedAsync()
    {
        objDataParameters = new DataParameters();
        objDataParameters.data = new List<IDictionary<string, object>>();
        objDataParameters.columns = new Dictionary<string, Type>();

        MonacoOptions.ReadOnly = false;
        MonacoOptions.WordWrap = WordWrap.On;
        MonacoOptions.Theme = Blazor.Monaco.Theme.Vs;
        MonacoOptions.LineNumbers = LineNumbers.On;

        await LoadViewsListDropdown();
        LoadTableListDropdown();
    }

    // Monaco Editor

    private void OnEditorContentChanged(bool hasChanged)
    {
        ContentChanged = hasChanged;
    }

    private async Task OnEditorSaveRequested()
    {
        if (CurrentViewName == "")
        {
            // Open a popup to enter the view name
            IsNewTablePopupVisible = true;
            return;
        }

        // Save to file in Data/Views
        var viewsFolder = Path.Combine("Data", "Views");
        var fileName = Path.Combine(viewsFolder, $"{CurrentViewName}.view");

        CurrentScript = await _monacoEditorInstance.GetEditorContent(resetChangedOnRead: true);

        await System.IO.File.WriteAllTextAsync(fileName, CurrentScript);

        ContentChanged = false;
        StateHasChanged();
    }

    // Table Dropdown

    private void LoadTableListDropdown()
    {
        TableList = new List<string>();

        // Load the TableList data
        var parquetFolder = Path.Combine("Data", "Parquet");
        if (Directory.Exists(parquetFolder))
        {
            TableList = Directory.GetFiles(parquetFolder, "*.parquet")
                                 .Select(Path.GetFileNameWithoutExtension)
                                 .ToList();
        }
    }

    // Views Dropdown

    private async Task LoadViewsListDropdown()
    {
        ViewList = new List<string>();

        // Load the ViewList data
        var viewsFolder = Path.Combine("Data", "Views");

        if (Directory.Exists(viewsFolder))
        {
            ViewList = Directory.GetFiles(viewsFolder, "*.view")
                                 .Select(Path.GetFileNameWithoutExtension)
                                 .ToList();
        }

        if (ViewList.Count > 0)
        {
            CurrentViewName = ViewList.First();
            await LoadView(CurrentViewName);
        }
    }

    private async Task LoadView(string paramView)
    {
        IsLoading = true;
        StateHasChanged();

        // Load the DataTable
        var viewsFolder = Path.Combine("Data", "Views");
        var fileName = Path.Combine(viewsFolder, $"{paramView}.view");

        if (System.IO.File.Exists(fileName))
        {
            // Read contents into CurrentScript
            CurrentScript = await System.IO.File.ReadAllTextAsync(fileName);

            // Set CurrentViewName
            CurrentViewName = paramView;
        }
        else
        {
            Message = "View not found.";
        }

        IsLoading = false;
        StateHasChanged();
    }

    // New Script

    private async Task NewScript()
    {
        await _monacoEditorInstance.SetEditorContent(SampleCode);
        CurrentScript = SampleCode;
        CurrentViewName = "";
    }

    // Table Wizard

    private async Task onTableWizard()
    {
        if (string.IsNullOrEmpty(CurrentSelectedTableWizard))
        {
            Message = "Please select a table.";
            return;
        }

        CurrentScript = $"using System;\n";
        CurrentScript += $"using System.Collections.Generic;\n";
        CurrentScript += $"using System.Linq;\n";
        CurrentScript += $"using System.Threading.Tasks;\n";
        CurrentScript += $"\n";
        CurrentScript += $"public async Task<IEnumerable<IDictionary<string, object>>> ReturnResult()\n";
        CurrentScript += "{\n";
        CurrentScript += $"    // Create a Dataloader \n";
        CurrentScript += $"    Dataloader objDataloader = new Dataloader();\n";
        CurrentScript += $"    // Call LoadParquet to load {CurrentSelectedTableWizard} into col{CurrentSelectedTableWizard} \n";
        CurrentScript += $@"    var col{CurrentSelectedTableWizard} = await objDataloader.LoadParquet(""{CurrentSelectedTableWizard}"");";
        CurrentScript += $"\n";
        CurrentScript += $"    // Return the results ToDictionary()  \n";
        CurrentScript += $"    return col{CurrentSelectedTableWizard}.Select(row => row.ToDictionary()).Take(100).ToList();";
        CurrentScript += "\n";
        CurrentScript += "}\n";

        await _monacoEditorInstance.SetEditorContent(CurrentScript);

        CloseTableWizardPopup();

        CurrentSelectedTableWizard = "";
    }

    // Popups

    private void OpenWizard()
    {
        CurrentSelectedTableWizard = TableList.FirstOrDefault();
        CurrentViewName = ""; // So the new View name popup will show on Save
        IsWizardVisible = true;
    }

    private void CloseNewTablePopup()
    {
        IsNewTablePopupVisible = false;
    }

    private void CloseOutputTablePopup()
    {
        IsNewOutputPopupVisible = false;
    }

    private void CloseTableWizardPopup()
    {
        IsWizardVisible = false;
    }

    private void CloseMessagePopup()
    {
        Message = "";
    }

    private async Task SaveViewAsync()
    {
        if (string.IsNullOrEmpty(CurrentViewName))
        {
            Message = "Please enter a view name.";
            return;
        }

        var viewsFolder = Path.Combine("Data", "Views");
        var fileName = Path.Combine(viewsFolder, $"{CurrentViewName}.view");

        if (System.IO.File.Exists(fileName))
        {
            Message = "View already exists.";
            return;
        }

        await System.IO.File.WriteAllTextAsync(fileName, CurrentScript);
        IsNewTablePopupVisible = false;

        // Reload the dropdown
        ViewList = new List<string>();

        if (Directory.Exists(viewsFolder))
        {
            ViewList = Directory.GetFiles(viewsFolder, "*.view")
                                 .Select(Path.GetFileNameWithoutExtension)
                                 .ToList();
        }

        // Load the view
        await LoadView(CurrentViewName);
    }

    // Code Execution

    #region RunCode
    private async Task Execute()
    {
        try
        {
            if (CurrentViewName == "")
            {
                // Open a popup to enter the view name
                IsNewTablePopupVisible = true;
                return;
            }

            //  Save the content before executing
            await OnEditorSaveRequested();

            // Execute the code
            var objResult = await RunDynamicCode(CurrentScript);

            if (objResult != null)
            {
                // Parse objDataParametersResult.data to a list of dictionaries
                var columns = objResult.Select(x => x.ToDictionary(y => y.Key, y => y.Value)).FirstOrDefault();

                objDataParameters = new DataParameters
                    {
                        data = objResult,
                        columns = columns.ToDictionary(x => x.Key, x => Type.GetType("System.String"))
                    };
            }

            // Show the output
            IsNewOutputPopupVisible = true;
        }
        catch (Exception ex)
        {
            Message = ex.GetBaseException().Message;
        }
    }

    public async Task<IEnumerable<IDictionary<string, object>>> RunDynamicCode(string paramCode)
    {
        try
        {
            dynamic script = CSScript.Evaluator.LoadMethod(paramCode);

            var result = await script.ReturnResult();

            return result as IEnumerable<IDictionary<string, object>>;
        }
        catch (Exception ex)
        {
            Message = ex.GetBaseException().Message;
            return null;
        }
    }
    #endregion

    private string SampleCode = @"
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;

public async Task<IEnumerable<IDictionary<string, object>>> ReturnResult()
{
    // Generate random data
    return Enumerable.Range(1, 1).Select(id => new Dictionary<string, object>
    {
        { ""EmployeeId"", ""1234"" },
        { ""FirstName"", ""John"" },
        { ""LastName"", ""Doe"" }
    });
}";
}